.text{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
.form{
    background: aquamarine;
    width: 550px;
    margin: 30px 650px;

    height: 100px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: block;
}
.input{
    height: 30px;
    display: inline;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.button{
    padding: 9px 15px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #5493ff;
    cursor: pointer;
    color: white;
}
.button:hover{
    transition: 0.2s;
    background-color: #2072ff;
}